body{
    background-color: rebeccapurple;
    background-image: url('bckgrnd.png');
    background-repeat: none;
    opacity: unset;
}

h1 {
   text-align: center;
   text-shadow: 3px;
   padding-top: 15px;
}

.profile{
    font-style: normal;
   font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: indigo;
    float: right 3px;
    
}
.avatar{
    vertical-align: middle;
    width:300px ;
    height: 350px;
    border-radius: 200%;
    float: left;
}

h2{
  color: black;
}
.about_me{
  color: rgb(8, 0, 14);
  
}

.socials{
float: right;
color: #000;
border: 5px solid black; 

}

.contact{ 
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  min-width: 30vw;
  margin-bottom:50px;
  margin-top: 70px;
  background-color: whitesmoke;
  align-items: center;
  border-radius: 35px;


}

/* Style inputs with type="text", select elements and textareas */
input[type=5text], select, textarea {
  width: 50%; /* Full width */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 10px;
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: rgb(71, 5, 49);
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #e215c7;
}

/* Add a background color and some padding around the form */
.container {
  background-color:rgb(219, 172, 219);
  width: 350px;
  border-radius: 20px;
  padding:20px;
  
}

h4{
  color: black;
  text-align: center;
}
  