body{
    background-color: rebeccapurple;
    background-image: url('bckgrnd.png');
    background-repeat: none;
    opacity: unset;
}

text-align: center;
  color: #e215c7;
  border: lavender;
  background-position: center;
}

h1:hover{
  color: #dd7fd0;
}

.profile{
    font-style: normal;
   font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: indigo;
    float: right 3px;
    
}
.avatar{
    vertical-align: middle;
    width:300px ;
    height: 350px;
    border-radius: 200%;
    float: left;
}

h2{
  color: black;
}
.about_me{
  color: rgb(8, 0, 14);
  
}

.socials{
float: right;
color: #000;
border: 5px solid black; 

}


input[type=5text], select, textarea {
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 20px;
  resize: vertical;
}

input[type=submit] {
  background-color: rgb(71, 5, 49);
  color: white;
  border-radius: 20px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #e215c7;
}

.container {
  background-color:rgb(219, 172, 219);
  width: 350px;
  border-radius: 20px;
  padding:20px;
  
}

h4{
  color: black;
  text-align: center;
}
  
